ear/wildfly-run/wildfly-8.0.0.Final/standalone/data/wsdl/cybertron-ear.ear/cybertron-web.war/CssInquiryDataWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://inquiry.ws.css.thaisamut/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CssInquiryDataWebService" targetNamespace="http://inquiry.ws.css.thaisamut/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://inquiry.ws.css.thaisamut/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://inquiry.ws.css.thaisamut/">
  <xs:element name="getPolicies" type="tns:getPolicies"/>
  <xs:element name="getPoliciesResponse" type="tns:getPoliciesResponse"/>
  <xs:element name="getRiderMap" type="tns:getRiderMap"/>
  <xs:element name="getRiderMapResponse" type="tns:getRiderMapResponse"/>
  <xs:complexType name="getPolicies">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPoliciesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:policyBeanMapTransporter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="policyBeanMapTransporter">
    <xs:sequence>
      <xs:element name="policies">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"/>
                  <xs:element minOccurs="0" name="value" type="tns:policyBean"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="policyBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="addressLine1" type="xs:string"/>
      <xs:element minOccurs="0" name="addressType" type="xs:string"/>
      <xs:element minOccurs="0" name="agentCode" type="xs:string"/>
      <xs:element minOccurs="0" name="allPermium" type="xs:double"/>
      <xs:element minOccurs="0" name="benefitChannel" type="xs:string"/>
      <xs:element minOccurs="0" name="birthdate" type="xs:string"/>
      <xs:element minOccurs="0" name="branchNo" type="xs:string"/>
      <xs:element minOccurs="0" name="commencementDate" type="xs:string"/>
      <xs:element minOccurs="0" name="cssLoanStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="custCode" type="xs:string"/>
      <xs:element minOccurs="0" name="districtName" type="xs:string"/>
      <xs:element minOccurs="0" name="dtCode" type="xs:string"/>
      <xs:element minOccurs="0" name="dwnLoanStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="ext1" type="xs:string"/>
      <xs:element minOccurs="0" name="ext2" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="fullyPaidDate" type="xs:string"/>
      <xs:element minOccurs="0" name="lapseDate" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="loanBean" type="tns:loanPolicyBean"/>
      <xs:element minOccurs="0" name="maturityDate" type="xs:string"/>
      <xs:element minOccurs="0" name="mobile1" type="xs:string"/>
      <xs:element minOccurs="0" name="mobile2" type="xs:string"/>
      <xs:element minOccurs="0" name="nextPaidDate" type="xs:string"/>
      <xs:element minOccurs="0" name="paymentChannel" type="xs:string"/>
      <xs:element minOccurs="0" name="paymentMode" type="xs:int"/>
      <xs:element minOccurs="0" name="paymentTerm" type="xs:int"/>
      <xs:element minOccurs="0" name="personType" type="xs:string"/>
      <xs:element minOccurs="0" name="phone1" type="xs:string"/>
      <xs:element minOccurs="0" name="phone2" type="xs:string"/>
      <xs:element minOccurs="0" name="policyNo" type="xs:string"/>
      <xs:element minOccurs="0" name="policyOrg" type="xs:int"/>
      <xs:element minOccurs="0" name="policyStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="policyType" type="xs:string"/>
      <xs:element minOccurs="0" name="policyYear" type="xs:int"/>
      <xs:element minOccurs="0" name="postcode" type="xs:string"/>
      <xs:element minOccurs="0" name="prdCode" type="xs:string"/>
      <xs:element minOccurs="0" name="prdName" type="xs:string"/>
      <xs:element minOccurs="0" name="premiumAmount" type="xs:double"/>
      <xs:element minOccurs="0" name="provinceName" type="xs:string"/>
      <xs:element minOccurs="0" name="pvCode" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="riders" nillable="true" type="tns:riderMapBean"/>
      <xs:element minOccurs="0" name="subdistrictName" type="xs:string"/>
      <xs:element minOccurs="0" name="sumAssured" type="xs:double"/>
      <xs:element name="temp" type="xs:boolean"/>
      <xs:element minOccurs="0" name="titleDesc" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loanPolicyBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="apl" type="xs:double"/>
      <xs:element minOccurs="0" name="aplFrom" type="xs:string"/>
      <xs:element minOccurs="0" name="aplTo" type="xs:string"/>
      <xs:element minOccurs="0" name="cv" type="xs:double"/>
      <xs:element minOccurs="0" name="intApl" type="xs:double"/>
      <xs:element minOccurs="0" name="intDueDate" type="xs:double"/>
      <xs:element minOccurs="0" name="intFrom" type="xs:string"/>
      <xs:element minOccurs="0" name="intRepay" type="xs:double"/>
      <xs:element minOccurs="0" name="intTo" type="xs:string"/>
      <xs:element minOccurs="0" name="loanAmount" type="xs:double"/>
      <xs:element minOccurs="0" name="loanAmountTxt" type="xs:string"/>
      <xs:element minOccurs="0" name="loanDuty" type="xs:int"/>
      <xs:element minOccurs="0" name="loanDutyTxt" type="xs:string"/>
      <xs:element minOccurs="0" name="loanNet" type="xs:double"/>
      <xs:element minOccurs="0" name="loanOld" type="xs:double"/>
      <xs:element minOccurs="0" name="loanRate" type="xs:double"/>
      <xs:element minOccurs="0" name="loanRateTxt" type="xs:string"/>
      <xs:element minOccurs="0" name="loanType" type="xs:string"/>
      <xs:element minOccurs="0" name="orgCode" type="xs:int"/>
      <xs:element minOccurs="0" name="policyNo" type="xs:string"/>
      <xs:element minOccurs="0" name="policyStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="policyType" type="xs:string"/>
      <xs:element minOccurs="0" name="policyYear" type="xs:int"/>
      <xs:element minOccurs="0" name="updateBy" type="xs:string"/>
      <xs:element minOccurs="0" name="updateDate" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="riderMapBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="mappingGroup" type="xs:string"/>
      <xs:element minOccurs="0" name="policyType" type="xs:string"/>
      <xs:element minOccurs="0" name="premiumAmout" type="xs:double"/>
      <xs:element minOccurs="0" name="riderCode" type="xs:string"/>
      <xs:element minOccurs="0" name="riderGroup" type="xs:string"/>
      <xs:element minOccurs="0" name="sumAssured" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRiderMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRiderMapResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getRiderMapResponse">
    <wsdl:part element="tns:getRiderMapResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRiderMap">
    <wsdl:part element="tns:getRiderMap" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPolicies">
    <wsdl:part element="tns:getPolicies" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPoliciesResponse">
    <wsdl:part element="tns:getPoliciesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CssInquiryDataWebService">
    <wsdl:operation name="getPolicies">
      <wsdl:input message="tns:getPolicies" name="getPolicies">
    </wsdl:input>
      <wsdl:output message="tns:getPoliciesResponse" name="getPoliciesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRiderMap">
      <wsdl:input message="tns:getRiderMap" name="getRiderMap">
    </wsdl:input>
      <wsdl:output message="tns:getRiderMapResponse" name="getRiderMapResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CssInquiryDataWebServiceSoapBinding" type="tns:CssInquiryDataWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPolicies">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPolicies">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPoliciesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRiderMap">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRiderMap">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRiderMapResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CssInquiryDataWebService">
    <wsdl:port binding="tns:CssInquiryDataWebServiceSoapBinding" name="CssInquiryDataWebServiceImplPort">
      <soap:address location="http://jbossws.undefined.host:9058/cybertron/ws/CssInquiryDataWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>