ear/wildfly-run/wildfly-8.0.0.Final/standalone/data/wsdl/cybertron-ear.ear/cybertron-web.war/CssUserWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://user.ws.css.thaisamut/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CssUserWebService" targetNamespace="http://user.ws.css.thaisamut/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://user.ws.css.thaisamut/" elementFormDefault="unqualified" targetNamespace="http://user.ws.css.thaisamut/" version="1.0">

  <xs:element name="changePassword" type="tns:changePassword"/>

  <xs:element name="changePasswordResponse" type="tns:changePasswordResponse"/>

  <xs:element name="getUser" type="tns:getUser"/>

  <xs:element name="getUserResponse" type="tns:getUserResponse"/>

  <xs:complexType name="getUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cssUser"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cssUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessPermitTime" type="xs:string"/>
      <xs:element minOccurs="0" name="birthDate" type="xs:string"/>
      <xs:element minOccurs="0" name="branchCode" type="xs:string"/>
      <xs:element minOccurs="0" name="cardNo" type="xs:string"/>
      <xs:element minOccurs="0" name="custCode" type="xs:string"/>
      <xs:element minOccurs="0" name="department" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="fullname" type="xs:string"/>
      <xs:element minOccurs="0" name="jobTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="permissions" type="xs:string"/>
      <xs:element minOccurs="0" name="section" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="telNo" type="xs:string"/>
      <xs:element minOccurs="0" name="titleDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="changePassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:parameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="captchaCheck" type="xs:string"/>
      <xs:element minOccurs="0" name="captchaCode" type="xs:string"/>
      <xs:element minOccurs="0" name="captchaTimeStamp" type="xs:string"/>
      <xs:element minOccurs="0" name="confirmNewPassword" type="xs:string"/>
      <xs:element minOccurs="0" name="newPassword" type="xs:string"/>
      <xs:element minOccurs="0" name="oldPassword" type="xs:string"/>
      <xs:element minOccurs="0" name="sessionId" type="xs:string"/>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="changePasswordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resetPasswordTransport"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resetPasswordTransport">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getUser">
    <wsdl:part element="tns:getUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changePassword">
    <wsdl:part element="tns:changePassword" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserResponse">
    <wsdl:part element="tns:getUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changePasswordResponse">
    <wsdl:part element="tns:changePasswordResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CssUserWebService">
    <wsdl:operation name="getUser">
      <wsdl:input message="tns:getUser" name="getUser">
    </wsdl:input>
      <wsdl:output message="tns:getUserResponse" name="getUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input message="tns:changePassword" name="changePassword">
    </wsdl:input>
      <wsdl:output message="tns:changePasswordResponse" name="changePasswordResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CssUserWebServiceSoapBinding" type="tns:CssUserWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="changePassword">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="changePasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CssUserWebService">
    <wsdl:port binding="tns:CssUserWebServiceSoapBinding" name="CssUserWebServiceImplPort">
      <soap:address location="http://jbossws.undefined.host:9058/cybertron/ws/CssUserWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>